.panel-existing-wrapper {
    padding: 2rem;
    background: #404040;
}

.panel-existing-wrapper h1 {
    color: white;
}

.panel-existing-wrapper .existing-real-estates {
    border: 1px dotted white;
}